@mixin circle {
        width: 2rem;
        height: 2rem;
        border: 1px solid hsl(234, 11%, 52%);;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        margin-right: 1rem;
        text-align: center;
}